.form {
    width: 700px;
    background: linear-gradient(#ffdbb1 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #ffdbb1 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #ffdbb1 50%, rgba(255,255,255,0) 0) 55px 0 #da2e53;
    background-size:110px 147px;
    background-repeat:repeat-x;
}